body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: black;
}

header{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 120px;
    padding: 0px;
    align-items: center;
}

#logo{
    width: 130px;
    height: 130px;
}

footer{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a{
    text-decoration: none;
    color: white
}

main{
    background-color: rgb(15, 17, 21);
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
}

h1{
    color: white;
}

p{
    color: rgb(180, 180, 180);
}

button{
    background-color: transparent;
    border: 0px;
}

.btn{
    background-color: black;
    color: white;
    width: 100px;
    height: 100px;
    border-radius: 4px;
    padding: 5px;
    border: 0px;
}

h2{
    color: white;
    font-size: 28px;
}