body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
}

header{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100px;
    padding: 0px;
    align-items: center;
}

#logo{
    width: 100px;
    height: 100px;
}

footer{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a{
    text-decoration: none;
    color: white
}
  